body{
    background-color: #ECF3FF;
    color: #7F9ECC;
}

nav.banner {
    background-color: #7F9ECC;
    
}

.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

nav.banner > a >  span{
    color: #ECF3FF;
}

.content{
    margin-top: 60px;
}

.section {
    height: calc(100vh - 60px);
    padding: 10px 0 10px 0;
}

.section-body{
    padding: 25px;
    background-color: #A2B9E5;
    color: #ECF3FF;
    border: 1px solid gray;
    border-radius: 5px;
    height: 100%;
}

.section-title{
    text-align: center;
}

.profile-picture{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

footer{
    text-align: center;
    padding: 25px;
}

